<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2010-01-30T02:14:35Z</date>
		<key>actualSize</key>
		<integer>664</integer>
		<key>attributeModDate</key>
		<date>2010-01-20T23:44:45Z</date>
		<key>createDate</key>
		<date>2009-09-09T23:48:52Z</date>
		<key>creationDate</key>
		<date>2010-04-13T03:29:13Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>7866F77B-E1FB-4DB3-9341-3076C3A7D320</string>
		<key>lastModifiedDate</key>
		<date>2009-09-09T23:48:52Z</date>
		<key>originalPath</key>
		<string>/Users/jnelson/code/nonprofit/tradui/public/stylesheets/img/postmeta.sprites.png</string>
		<key>originalSize</key>
		<integer>664</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32275</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>C184833D-C3BB-4A47-8217-5CA126A42610</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>20</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
