<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2010-02-04T03:26:55Z</date>
		<key>actualSize</key>
		<integer>132</integer>
		<key>attributeModDate</key>
		<date>2010-01-20T18:44:04Z</date>
		<key>createDate</key>
		<date>2009-04-28T13:32:14Z</date>
		<key>creationDate</key>
		<date>2010-04-13T03:29:09Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>D90FA2EA-9862-43F6-8E7F-644D47DD9A36</string>
		<key>lastModifiedDate</key>
		<date>2009-04-28T13:32:14Z</date>
		<key>originalPath</key>
		<string>/Users/jnelson/code/nonprofit/tradui/public/img/facebox/tl.png</string>
		<key>originalSize</key>
		<integer>132</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>C71D7D50-4404-4297-BE92-2E4BB0DACDB9</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>20</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
