<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2010-02-04T03:26:55Z</date>
		<key>actualSize</key>
		<integer>2767</integer>
		<key>attributeModDate</key>
		<date>2010-01-20T18:44:04Z</date>
		<key>createDate</key>
		<date>2009-04-28T13:32:14Z</date>
		<key>creationDate</key>
		<date>2010-04-13T03:29:09Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>6E1AB9AE-5F68-458D-9221-AAF7CCFCE55D</string>
		<key>lastModifiedDate</key>
		<date>2009-04-28T13:32:14Z</date>
		<key>originalPath</key>
		<string>/Users/jnelson/code/nonprofit/tradui/public/img/facebox/loading.gif</string>
		<key>originalSize</key>
		<integer>2767</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32275</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>76E44701-E997-4E6D-8EBA-129A3BE93E51</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>20</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
