<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2010-02-04T03:25:39Z</date>
		<key>actualSize</key>
		<integer>57254</integer>
		<key>attributeModDate</key>
		<date>2010-01-21T00:20:41Z</date>
		<key>createDate</key>
		<date>2009-09-07T20:28:50Z</date>
		<key>creationDate</key>
		<date>2010-04-13T03:29:09Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>71EB57E0-0FB1-443D-80EF-CC1C405BE30A</string>
		<key>lastModifiedDate</key>
		<date>2009-09-07T20:28:50Z</date>
		<key>originalPath</key>
		<string>/Users/jnelson/code/nonprofit/tradui/public/javascripts/jquery.js</string>
		<key>originalSize</key>
		<integer>57254</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32275</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>5660F494-C551-4081-938B-72026EAC5806</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>20</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
