<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2010-01-30T02:14:35Z</date>
		<key>actualSize</key>
		<integer>7019</integer>
		<key>attributeModDate</key>
		<date>2010-01-22T15:50:21Z</date>
		<key>createDate</key>
		<date>2009-09-08T20:06:40Z</date>
		<key>creationDate</key>
		<date>2010-04-13T03:29:09Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>96B76AB9-3B78-4BAF-84BE-D7774DF3014C</string>
		<key>lastModifiedDate</key>
		<date>2009-09-08T20:06:40Z</date>
		<key>originalPath</key>
		<string>/Users/jnelson/code/nonprofit/tradui/public/javascripts/dd_belated_png.js</string>
		<key>originalSize</key>
		<integer>7019</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32275</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>97EC3B4C-86B7-49FB-B272-2BF02413E681</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>20</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
