<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2010-02-04T03:25:38Z</date>
		<key>actualSize</key>
		<integer>9840</integer>
		<key>attributeModDate</key>
		<date>2010-01-21T01:45:15Z</date>
		<key>createDate</key>
		<date>2009-04-28T13:32:14Z</date>
		<key>creationDate</key>
		<date>2010-04-13T03:29:09Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>DC4E34EA-C761-4FA4-B827-71A90263D3DD</string>
		<key>lastModifiedDate</key>
		<date>2010-01-21T00:29:53Z</date>
		<key>originalPath</key>
		<string>/Users/jnelson/code/nonprofit/tradui/public/javascripts/facebox.js</string>
		<key>originalSize</key>
		<integer>9840</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>67331AA5-D947-46DA-9E7F-8F3131882EFB</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>20</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
