.empty
.DS_Store
.Memeo
.bundle
.sass-cache
config/database.yml
coverage
db/*.sqlite3
db/development_structure.sql
oilreporter_development
oilreporter_test
log/*.log
tmp
uploads
webrat-*
capybara-*
public/system
Gemfile.lock
