<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2010-02-04T03:25:37Z</date>
		<key>actualSize</key>
		<integer>1431</integer>
		<key>attributeModDate</key>
		<date>2010-01-21T00:29:37Z</date>
		<key>createDate</key>
		<date>2009-04-28T13:32:14Z</date>
		<key>creationDate</key>
		<date>2010-04-13T03:29:09Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>4ED694DE-45F4-4027-AB66-89EFA6B0AB93</string>
		<key>lastModifiedDate</key>
		<date>2010-01-21T00:29:37Z</date>
		<key>originalPath</key>
		<string>/Users/jnelson/code/nonprofit/tradui/public/stylesheets/facebox.css</string>
		<key>originalSize</key>
		<integer>1431</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>9EBAC95D-EF0B-4BCE-BE1F-FD556E47F0B8</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>20</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
