
/* main */

html { color: #333; background-color: #171717 !important; height: 100%; }
html .clear { padding-top: 2em; }

 anchors 

a { color: #28a; }

/* paragraphs */

p.compact { line-height: 1.2em; }

/* font modifications */

h1, h2, h3, #brief a, .posttop .date, .button { font-family: Myriad Pro, Trebuchet MS, Arial, Sans-Serif; }
h1, h2, h3, h4, #brief a { letter-spacing: -1px; font-weight: 800; }

/* top */

#top { height: 81px; background: transparent url('img/top.bg.png') repeat-x top; padding-bottom: 75px; }

#nav { list-style: none; padding: 0px; margin: 0px; }
#nav li { float: left; }
#nav li a { display: inline-block; height: 80px; line-height: 80px; font-weight: 800; color: White; padding: 0px 22px; text-shadow: rgba(0,0,0,0.1) 0px -1px 1px; }
#nav li a:hover, #nav li.current_page_item a { background: transparent url('img/nav.bg.png') no-repeat center center; }

/* intro */

#intro { position: relative; height: 309px; }
#intro .clear { padding: 0px; }

#brief h1, #brief h2 { color: White; margin-bottom: 40px; }
#brief h1 { font-size: 56px; white-space: nowrap; text-shadow: rgba(0,0,0,0.1) 3px 5px 5px; }
#brief h2 { font-size: 22px; line-height: 30px; font-weight: 400; }

#brief a.signup, #brief a.more { display: block; float: left; height: 58px; line-height: 54px; width: 230px; text-indent: -20px; background: transparent url('img/brief.bg.png') no-repeat right center; text-align: center; color: #3d3c3c; font-weight: 800; font-size: 24px; text-shadow: White 0px 1px 0px; }
#brief a.signup { background-position: left center; text-indent: -35px; }
#brief a:hover { color: #222; }
#brief a:active { color: #444; }

#slides img { position: absolute; height: 502px; width: 272px; margin-left: 100px; top:-70px; visibility: hidden; }
#slides img.active { visibility: visible; z-index: 999; }
#slides img.pre-active { z-index: 998; }

/* path */

#path { height: 40px; line-height: 40px; width: 940px; margin: 0px auto; background: transparent url('img/path.bg.png') no-repeat left top; text-indent: 2em; color: #eee; }
#path a { color: White; font-weight: 800; }
#path h1 { font-size: 1em; display: inline; font-weight: 400; letter-spacing: 0px; }

/* content */

#content { background: #f7f7f7 url('img/content.bg.png') repeat-x top; }

#content .container_12 { padding-top: 3em; }
#content p.compact { color: #555; }

#index #content .container_12 { padding-top: 10em; }
#index #content .text { width: 360px; }

/* newsline */

#newsline { height: 55px; overflow: hidden; background-image: url('img/newsline.bg.png'); margin-bottom: 2em; }
#newsline p { color: #666; margin-left: 7em; margin-top: 0.4em; line-height: 56px; }
#newsline a { color: #666 !important; }
#newsline strong { margin-right: 0.5em; }

/* footer */

#foot { padding-top: 4em; background-color: #171717; color: #888; border-top: solid 1px black; }

#foot a, #foot h4 { color: White; }
#foot p strong { font-weight: 400; color: White; }

/* footer formatting */

#foot .formatted p { line-height: 1.2em; }
#foot .formatted a:after { content: " »"; }
#foot .formatted ol, #foot .formatted ul { list-style: none; margin: 0px; }

/* reports */

#reports .item { width: 50px; background: url('img/item.bg.png') no-repeat; }
#reports .item:hover { background-position: top right; }

#reports .item img { display: block; width: 266px; height: 150px; margin: 18px 17px 30px 17px; }
#reports .item img:hover { opacity: 0.8; }

#reports .item p, #reports .item h4 { margin: 17px; color: #666; letter-spacing: 0px; }
#reports .item h4 a { color: #666 !important; font-weight: 800; }

#reports #filter { display: none; }
#reports #filter .placeholder { background-color: #eee; padding: 1.5em; }

#reports #filter a { margin-left: 0.5em; text-transform: uppercase; color: Black; }
#reports #filter a.active { font-size: 1.5em; }

/* post */

.post, .postbody { background: White url('img/post.bg.png') repeat-y center; }
.post { margin-bottom: 2.5em; }

.posttop, .postfoot { background: url('img/post.bg.png') no-repeat left top; clear: both; }
.posttop { height: 3.5em; position: relative; }
.postfoot { height: 2em; background-position: right bottom; }

.postbody { margin: 0px 42px; }
.postbody h2 { margin-bottom: 1em; }
.postbody h2 a { font-weight: 800; color: #333; }

.postinfo { color: #999; }
.postinfo strong, .postinfo a, .postinfo a:hover { font-weight: 800; color: #333; }

.postmeta { background: #f7f7f7 url('img/postmeta.bg.png') repeat-x top; overflow: hidden; height: 5em; }
.postmeta .left, .postmeta .right { margin: 1.5em 0.5em; padding-left: 2em; background: url('img/postmeta.sprites.png') no-repeat left top; white-space: nowrap; }
.postmeta .right { background-position: left bottom; }
.postmeta strong { margin: 0px 0.5em; }
.postmeta a { color: #666; }
.postmeta a:hover { color: #333; }

/* post label */

.posttop label { position: absolute; top: 40px; left: -53px; width: 57px; height: 100px; background: url('img/label.bg.png'); }
.posttop strong { position: absolute; text-shadow: rgba(0,0,0,0.2) 0px 1px 1px; }
.posttop .date { color: White; font-size: 34px; letter-spacing: -2px; top: 11px; width: 57px; text-align: center; }
.posttop .month { color: #999; font-size: 15px; letter-spacing: 4px; top: 36px; left: 13px; font-weight: 400; }
.posttop .comments { color: White; top: 73px; left: 28px; letter-spacing: -1px; width: 22px; text-align: center; }

/* inside post */

.postbody p span { background-color: #ffe; }
.postbody img { border: solid 10px #eee; }
.postbody a:hover img { border-color: #ddd; }
.postbody img.filled { width: 516px; }
.postbody blockquote { background: url('img/blockquote.bg.png') no-repeat left 0.5em; }
.postbody blockquote p { margin: 0px; }

/* post discussion */

#thread { list-style: none; margin: 1em; padding: 0px; }
#thread li { }
#thread li div.comment-body { height: 1% /*ie fix*/; position: relative; border: solid 1px #ddd; background-color: #fdfdfd; margin: 3em 0px 4em 0px; padding: 1em 28px 0em 28px; }

#thread li div.author img { position: absolute; height: 40px; width: 40px; right: 20px; bottom: 0px; margin-bottom: -20px; }
#thread li div.meta { position: absolute; right: 73px; bottom: 0px; margin-bottom: -25px; color: #666; }
#thread li div.reply { display: none; }

/* sidebar */

#sidebar { width: 270px; float: right; color: #666; padding-bottom: 1em; }
#sidebar h4 { margin-top: 3em; letter-spacing: 0px; }
#sidebar ul { margin: 0px; padding: 0px; list-style: none; }
#sidebar li a { height: 2.5em; color: #666; padding-left: 18px; white-space: nowrap; line-height: 36px; display: block; background: url('img/sidebar.bg.png') no-repeat center bottom; }
#sidebar li a:hover { background-position: center top; }

/* form elements */

.button { padding: 5px; border: solid 1px #ccc; background: url('img/button.bg.png') repeat-x top; font-size: 1em; cursor: pointer; text-align: center; color: #3d3c3c; font-weight: 800; text-shadow: White 0px 1px 0px; }
.button:hover { color: #222; }
.button:active { color: #444; }

.input { padding: 5px; border: solid 1px #ccc; border-top-color: #bbb; border-left-color: #bbb; background-color: #f7f7f7; }
.input:hover { border-color: #bbb; }
.input:focus { border-color: #abc; background-color: #f0f7ff !important; }
.input.correct { border-color: #6b9; background-color: #f7fff7 !important; }
.input.incorrect { border-color: #b69; background-color: #fff7ff !important; }

#contact { vertical-align: top; }
#commentform { vertical-align: top; margin: 1em; margin-top: 3em; padding: 0px; }
#commentform .input { background-color: #fdfdfd; }
#commentform span.small { color: #666; }

/* pagination */

.pagination { margin-bottom: 1.5em; }
.pagination a { width: 30px; display: inline-block; margin-left: 5px; }
.pagination a.current { background-image: none; }

/* search form */

#searchform .input { height: 24px !iefix; }

/* wide page */

#widepage .post, #widepage .postbody, #widepage .posttop, #widepage .postfoot { background-image: url('img/widepage.bg.png'); }

/* blocks */

.block {	
	background: url('img/bnd.gif') bottom center no-repeat;
	padding-bottom: 5px;
	margin-bottom: 25px;
	clear: both;
	}


/* block head */

.block .block_head {
	height: 54px;
	line-height: 54px;
	padding: 0 20px;
	background: url('img/bhead.gif') 0 0 no-repeat;
	overflow: hidden;
	}
	
.block .block_head h2 {
	font-family: "Titillium999", Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: normal;
	text-transform: uppercase;
	color: #555;
	text-shadow: 1px 1px 0 #fff;
	float: left;
	}
	
.block .block_head ul {
	float: right;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
	text-shadow: 1px 1px 0 #fff;
	}
	
.block .block_head ul li {
	display: inline;
	padding: 3px 0;
	padding-left: 20px;
	background: url('img/phs.gif') 7px center no-repeat;
	}
	
.block .block_head ul li.nobg { background: none; }
	
.block .block_head ul li a {
	text-decoration: none;
	color: #666;
	outline: none;
	}

.block .block_head ul li.active a { color: #888; }
.block .block_head ul li a:hover { color: #008ee8; }

.block .block_head form {
	float: right;
	padding: 15px 0;
	height: 34px;
	line-height: 24px;
	}

.block .block_head form .text {
	width: 129px;
	height: 15px;
	padding: 5px 10px 5px 25px;
	border: 0;
	font-size: 11px;
	color: #999;
	margin: 0;
	background: url('img/srch.gif') left center no-repeat;
	}

.block .block_head form .text:focus {
	color: #666;
	background: url('img/srch_.gif') left center no-repeat;
	}

/* block content */

.block .block_content {
	overflow: hidden;
	background: url('img/bbg.gif') 0 0 repeat-y;
	padding: 10px 20px 0;
	}

.block .block_content h1,
.block .block_content h2 {
	font-family: "Titillium999", Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #454545;
	margin-bottom: 10px;
	}

.block .block_content h3 {
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #666;
	margin-bottom: 5px;
	}

.block .block_content h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #666;
	margin-bottom: 5px;
	}
	
.block table {
	text-align: left;
	margin-bottom: 15px;
	}
	
.block table tr td,
.block table tr th {
	border-bottom: 1px solid #ddd;
	padding: 10px;
	line-height: normal;
	text-align: left;
	}
	
.block table tr td.delete {
	text-align: right;
	font-size: 11px;
	}
	
.block table tr td.delete a { color: #666; }
.block table tr td.delete a:hover { color: #dd0000; }

.block .tableactions {
	overflow: hidden;
	padding-bottom: 20px;
	float: left;
	}

.block .tableactions select {
	width: 100px;
	margin-right: 5px;
	vertical-align: middle;
	outline: none;
	}

.block .pagination {
	font-size: 10px;
	font-weight: bold;
	padding-bottom: 15px;
	padding-top: 15px;
	border-top: 1px solid #eee;
	}

.block .pagination.right {
	float: right;
	text-align: right;
	padding-top: 0;
	border: 0;
	width: 500px;
	overflow: hidden;
	}

.block .pagination a {
	border: 1px solid #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 3px 6px;
	margin: 0 1px;
	}

.block .pagination a.active {
	background: #39a3e6;
	border: 1px solid #0082d5;
	color: #fff;
	}

.block .pagination a:hover {
	color: #fff;
	background: #ec8526;
	border: 1px solid #d77011;
	}

.block .block_content ul {
	padding-left: 15px;
	padding-bottom: 15px;
	}
	
.block .block_content ol {
	padding-left: 15px;
	padding-bottom: 15px;
	list-style-position: inside;
	}

.block .block_content ul li {
	margin-bottom: 5px;
	padding-left: 15px;
	background: url('img/li.gif') 0 7px no-repeat;
 	}
 	
.block .block_content ol li {
	margin-bottom: 5px;
	}
	
.block hr {
	height: 1px;
	border: 0;
	background: no-repeat;
	border-bottom: 1px solid #ddd;
	margin-bottom: 15px;
	}
	
/* forms */
textarea, input {
  font-family: Trebuchet MS,Arial,Sans-Serif;
  border: solid thin #aaa;
  padding: 5px;
}

textarea {
  height: 50px;
}