body
{
	background: #3f7f9c url(/images/misc/background.jpg) center top repeat-x; /*78aabf*/
	color: #343434;
	font-size: 62.5%;
	font-family: "Lucida Sans Unicode","Lucida Grande","Trebuchet MS", Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}

#screen-error 
{ 
	width: 500px; 
	height: 383px; 
	margin: 118px auto 0 auto; 
	padding: 0 33px 0 435px; 
	color: #343434; 
} 
#screen-error h2 
{ 
	text-indent: -5000px; 
}

#screen-error p 
{ 
	font-size: 12px; 
	margin-bottom: 50px;  
	padding-top: 10px;
}
#screen-error p.custom 
{ 
	margin-bottom: 14px; 
}

#screen-error ul
{ 
	width: 240px; 
	float: left; 
	margin: 0 18px 0 0; 
	padding: 0; 
}
#screen-error ul.custom 
{ 
	margin-right: 0; 
}
#screen-error ul li 
{ 
	list-style-image: none; 
	list-style-type: none; 
	margin: 0; 
	border-top: 1px solid #b3c6cc; 
	display: block; 
	line-height: 2.2; 
}
#screen-error ul li a 
{ 
	font-size: 12px; 
	color: #343434;  
	text-decoration: none;
}

#screen-error ul li a:hover 
{ 
	text-decoration: underline; 
}

#screen-error ul li.last-item  
{ 
	border-bottom: 1px solid #b3c6cc; 
}