/* Flash Notifications */
#flash {
	position:relative;
	color:#3d3333;
	font-size:1.2em;
	margin-bottom: 20px;
	padding:10px 10px 0px 50px;
}
#flash p{
	margin-bottom:10px;
}
#flash_error{
	border:#d99d9d 1px solid;
	background:url(img/error.png) no-repeat left center;
	max-width: 400px;
	margin-left: 20%;
	padding:10px 10px 10px 50px;
}
#flash_notice{
	border:#9bdea8 1px solid;
	background:url(img/notice.png) no-repeat left center;
	max-width: 400px;
	margin-left: 20%;
	padding:10px 10px 10px 50px;
}
#flash_warning{
	border:#e8e657 1px solid;
	background:url(img/warning.png) no-repeat left center;
	max-width: 400px;
	margin-left: 20%;
	padding:10px 10px 10px 50px;
}