@charset "utf-8";
.tweetsync_container{position:relative; margin:10px 0px 10px 0px; border:1px solid #000000; width:100%; font-size:12px; -moz-border-radius:10px; -webkit-border-radius:10px;}
.tweetsync_container, x:-moz-any-link{-moz-border-radius:0px; -webkit-border-radius:0px;}
.tweetsync_container, x:-moz-any-link, x:default{-moz-border-radius:10px; -webkit-border-radius:10px;}
 
.tweetsync_loading{position:relative; top:0px; left:0px; background:#ffffff url(img/ajax-loader.gif) 7px 4px no-repeat; text-indent:28px; display:block; width:100%; line-height:24px; -moz-border-radius:10px; -webkit-border-radius:10px;}
	.tweetsync_loading a:link,
	.tweetsync_loading a:visited{color:#CC0000; font-style:normal; font-size:12px; margin:0px 0px 0px 5px; text-decoration:none;}
	.tweetsync_loading a:hover{text-decoration:underline;}
	.tweetsync_loading.error{background:#ffffff url(img/ajax-error.gif) 7px 4px no-repeat;}

.tweetsync_container .tweetsync_background{position:absolute; top:0px; left:0px; width:100%; background-color:#9ae4e8; background-repeat:no-repeat; background-position: -50px -100px; -moz-border-radius:9px; -webkit-border-radius:9px;}

.tweetsync_container .tweetsync_content{font-family:font-family:"Lucida Sans Unicode","Lucida Grande","Trebuchet MS", Helvetica, Arial, sans-serif; width:55%; background:#ffffff; position:relative; -moz-border-radius:5px; -webkit-border-radius:5px; margin:23px auto 20px auto; padding:10px 15px 10px 15px; filter:alpha(opacity=90); opacity: 0.9; -moz-opacity:0.9;}

.tweetsync_container .tweetsync_content span.tweetsync_speech-bubble{display:block; width:21px; height:11px; position:absolute; top:-11px; left:10px; background:url('img/arrow.gif') 0px 0px no-repeat; filter:alpha(opacity=90);}
.tweetsync_container .tweetsync_content span{display:block;}

.tweetsync_container .tweetsync_content span.tweet_text{font-size:16px;}
	.tweetsync_container .tweetsync_content span.tweet_text a:link,
	.tweetsync_container .tweetsync_content span.tweet_text a:visited{font-size:16px; text-decoration:none;}
	.tweetsync_container .tweetsync_content span.tweet_text a:hover{text-decoration:underline;}

.tweetsync_container .tweetsync_content span.tweet_meta{border-bottom:1px solid #e6e6e6; padding:0px 0px 5px 0px; margin:3px 0px 8px 0px;}
	.tweetsync_container .tweetsync_content span.tweet_meta a:link,
	.tweetsync_container .tweetsync_content span.tweet_meta a:visited{color:#999999; text-decoration:none; font-style:italic; font-size:12px;}
	.tweetsync_container .tweetsync_content span.tweet_meta a:hover{color:#000000; text-decoration:none; font-style:italic; font-size:12px;}
	
.tweetsync_container .tweetsync_content span.tweet_author{font-family:font-family:"Lucida Sans Unicode","Lucida Grande","Trebuchet MS", Helvetica, Arial, sans-serif;}
	.tweetsync_container .tweetsync_content span.tweet_author a:link,
	.tweetsync_container .tweetsync_content span.tweet_author a:visited{display:block; font-size:28px; line-height:48px; text-indent:60px;}
	.tweetsync_container .tweetsync_content span.tweet_author a:hover{text-decoration:underline;}

.tweetsync_container .tweetsync_search{background:#c0deed url('http://a3.twimg.com/profile_background_images/101550241/oil_reporter_background.png') 0px 0px no-repeat;}
		.tweetsync_container .tweetsync_search a:link,
		.tweetsync_container .tweetsync_search a:visited{color:#3399FF; text-decoration:none;}
		.tweetsync_container .tweetsync_search a:hover{color:#0066CC; text-decoration:underline;}
	.tweetsync_container .tweetsync_search .tweetsync_content span.tweet_author{float:left; margin:0px 10px 0px 0px;}
		.tweetsync_container .tweetsync_search .tweetsync_content span.tweet_author a:link,
		.tweetsync_container .tweetsync_search .tweetsync_content span.tweet_author a:visited{width:48px; height:48px;}
		.tweetsync_container .tweetsync_search .tweetsync_content span.tweet_author a:hover{}
	.tweetsync_container .tweetsync_search .tweetsync_content span.tweet_text{float:left; width:83%;}
	.tweetsync_container .tweetsync_search .tweetsync_content span.tweet_meta{width:83%; border:none; padding:0px 0px 0px 0px; margin:0px 0px 0px 0px;}
	.tweetsync_container .tweetsync_search .tweetsync_content span.clear{clear:both;}
	.tweetsync_container .tweetsync_search .tweetsync_content div{border-bottom:1px solid #e6e6e6; padding:8px 0px 8px 0px;}
	
	.tweetsync_container .tweetsync_content span.tweet_info{font-family:font-family:"Lucida Sans Unicode","Lucida Grande","Trebuchet MS", Helvetica, Arial, sans-serif; font-size:18px; line-height:48px;}