<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2010-02-04T03:15:09Z</date>
		<key>actualSize</key>
		<integer>196</integer>
		<key>attributeModDate</key>
		<date>2010-01-21T15:05:54Z</date>
		<key>createDate</key>
		<date>2010-01-21T15:05:54Z</date>
		<key>creationDate</key>
		<date>2010-04-13T03:29:06Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>940B2934-62E2-44B9-9AA5-F763EB8D2B9B</string>
		<key>lastModifiedDate</key>
		<date>2010-01-21T15:05:54Z</date>
		<key>originalPath</key>
		<string>/Users/jnelson/code/nonprofit/tradui/config/initializers/memcached.rb</string>
		<key>originalSize</key>
		<integer>196</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>40ED8061-8D32-431F-96A1-61B98284478C</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>20</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
