<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2010-02-04T03:29:43Z</date>
		<key>actualSize</key>
		<integer>0</integer>
		<key>attributeModDate</key>
		<date>2010-01-20T18:44:03Z</date>
		<key>createDate</key>
		<date>2009-05-07T03:27:26Z</date>
		<key>creationDate</key>
		<date>2010-04-13T03:29:06Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>4D9BDA5F-27B4-4B1B-95A2-9BFEBB63F2FB</string>
		<key>lastModifiedDate</key>
		<date>2009-05-07T03:27:26Z</date>
		<key>originalPath</key>
		<string>/Users/jnelson/code/nonprofit/tradui/public/favicon.ico</string>
		<key>originalSize</key>
		<integer>0</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>C06D5869-A223-4FB3-AE3A-AA453F1CC605</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>20</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
