<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2010-01-30T02:14:34Z</date>
		<key>actualSize</key>
		<integer>930</integer>
		<key>attributeModDate</key>
		<date>2010-01-20T18:44:03Z</date>
		<key>createDate</key>
		<date>2009-05-07T03:27:26Z</date>
		<key>creationDate</key>
		<date>2010-04-13T03:29:06Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>79FE918C-3234-4A2E-9BD3-8F233B83A0CA</string>
		<key>lastModifiedDate</key>
		<date>2009-05-07T03:27:26Z</date>
		<key>originalPath</key>
		<string>/Users/jnelson/code/nonprofit/tradui/public/422.html</string>
		<key>originalSize</key>
		<integer>930</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>E152D0CA-6B1E-4D87-BB42-48D2DCED4A5D</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>20</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
