<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2010-02-04T03:25:21Z</date>
		<key>actualSize</key>
		<integer>430</integer>
		<key>attributeModDate</key>
		<date>2010-01-22T00:44:08Z</date>
		<key>createDate</key>
		<date>2010-01-21T17:13:09Z</date>
		<key>creationDate</key>
		<date>2010-04-13T03:29:01Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>26EBF5E5-2242-474C-B9A5-A1F81A7535B0</string>
		<key>lastModifiedDate</key>
		<date>2010-01-21T17:14:18Z</date>
		<key>originalPath</key>
		<string>/Users/jnelson/code/nonprofit/tradui/app/views/shared/_google_analytics.erb.html</string>
		<key>originalSize</key>
		<integer>430</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>3C11FFF7-27DE-4BB8-AE82-2904A2D330EA</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>20</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
