<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2010-02-04T03:15:19Z</date>
		<key>actualSize</key>
		<integer>501</integer>
		<key>attributeModDate</key>
		<date>2010-01-21T15:05:54Z</date>
		<key>createDate</key>
		<date>2010-01-21T15:05:54Z</date>
		<key>creationDate</key>
		<date>2010-04-13T03:29:01Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>F619DC0B-79A3-4F02-8426-58D4DE7F3ADA</string>
		<key>lastModifiedDate</key>
		<date>2010-01-21T15:05:54Z</date>
		<key>originalPath</key>
		<string>/Users/jnelson/code/nonprofit/tradui/app/views/shared/_twitterbuzz.html.haml</string>
		<key>originalSize</key>
		<integer>501</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>88C5094C-5DC3-46C4-9AA1-80B1CFDC1F58</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>20</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
