/ Start Header
#top
  .container_12
    / Start Logo
    #logo.left
      %a{ :href => "/" }
        %img{ :class => "ie6fix", :src => "../img/logo.top.png", :alt => "Oil Reporter - Helping Clean Up" }
    / End Logo    
     
    / Start Navigation    
    %ul#nav.right
      %li.selected
        %a{ :href => "/" }
          Home
      %li 
        %a{ :href => "#" }
          Screencast       
      %li 
        %a{ :href => "#" }
          Twitter
      %li 
        %a{ :href => "#" }
          Wiki
      %li 
        %a{ :href => "#" }
          GitHub    
    / End Navigation    
/ End Header