#top
  .container_12
    #logo.left
      %a{ :href => "/" }
        %img{ :class => "ie6fix", :src => "/images/logo.top.png", :alt => "Oil Reporter - Help Clean Up" }
    / end logo   
     
    %ul#nav.right
      %li
        %a{ :href => "/signup" }
          Sign Up
      %li 
        = link_to 'Latest Reports', reports_path
      %li
        %a{ :href => "/map" }
          Map
      %li 
        = link_to 'API', api_path
      %li 
        %a{ :href => "http://twitter.com/oilreporter" }
          Twitter
      %li 
        %a{ :href => "http://github.com/intridea/oilreporter-mobile" }
          GitHub    
    / end navigation
/ end header