/ Start Header
#top
  .container_12
    #logo.left
      %a{ :href => "/" }
        %img{ :class => "ie6fix", :src => "../img/logo.top.png", :alt => "Oil Reporter - Help Clean Up" }
    / End Logo    
     
    %ul#nav.right
      %li.selected
        %a{ :href => "/" }
          Home
      %li 
        = link_to 'Latest Reports', reports_path
      %li 
        = link_to 'API', api_path
      %li 
        %a{ :href => "http://twitter.com/oilreporter" }
          Twitter
      %li 
        %a{ :href => "http://wiki.crisiscommons.org/wiki/Oil_Spill_Response" }
          Wiki
      %li 
        %a{ :href => "http://github.com/intridea/oilreporter-mobile" }
          GitHub    
    / End Navigation