.grid_6
  %h3 Tech camp yields programs for Haiti
  %img{ :src => "img/cnn_small.png", :alt => "CNN article on Tradui", :class => "right" }
    %a{ :href => "http://www.cnn.com/2010/TECH/01/19/tech.camp.haiti/index.html?hpt=T2" }
  %p.compact
    %em
      "It really did feel like we were actually being able to help out, even though we were so far away -- just using our skills and what we do normally to bring this information together for people." -
      %strong
        %a{ :href => "http://twitter.com/brendanlim" }
          Brendan Lim, Intridea Inc.
  %p
    %a{ :href => "http://www.cnn.com/2010/TECH/01/19/tech.camp.haiti/index.html?hpt=T2" }
      Read More on CNN...
.grid_6
  %h3 Tech Community Steps Up For Haiti; More Volunteers Needed Saturday
  %img{ :src => "img/npr_small.png", :alt => "NPR article on Tradui", :class => "right" }
    %a{ :href => "http://www.npr.org/blogs/inside/2010/01/tech_community_steps_up_for_ha.html" }
  %p.compact
    %em
      “As relief organizations rushed to the scene and ordinary people opened their wallets to support the disaster response, hundreds of techies from around the world have also stepped up to offer their unique skills to these efforts.” -
      %a{ :href => "http://twitter.com/Brady" }
        Andy Carvin, NPR
  %p
    %a{ :href => "http://www.npr.org/blogs/inside/2010/01/tech_community_steps_up_for_ha.html" }
      Read More on NPR...
.grid_6
  %h3 Haiti: Tradui, Translation App for Android and iPhone
  %img{ :src => "img/oreilly_small.png", :alt => "O'REILLY Radar article on Tradui", :class => "right" }
    %a{ :href => "http://www.npr.org/blogs/inside/2010/01/tech_community_steps_up_for_ha.html" }
  %p.compact
    %em
      “As relief organizations rushed to the scene and ordinary people opened their wallets to support the disaster response, hundreds of techies from around the world have also stepped up to offer their unique skills to these efforts.” -
      %a{ :href => "http://twitter.com/Brady" }
        Brady Forest, O'REILLY radar
  %p
    %a{ :href => "http://radar.oreilly.com/2010/01/haiti-tradui-translation-app-f.html" }
      Read More on O'REILLY...