#welcome_popup{ :title => "Welcome to Oil Reporter!" }
  %p
    Here are a few things we think you need to know before joining this open data sharing initiative. Please read before you proceed.
  %p
    %strong
      Know that all data reported on Oil Reporter is PUBLIC. 
    If you don’t want to share information with the public, Oil Reporter isn’t for you. This is an open data sharing initiative. All data is open and this includes the location of the data. So don’t do silly things like take pictures of people or upload anything you don’t want to be made public. Seriously, it will be public.  Very public. Check out our privacy statement.
  %p
    %strong
      Reporting means observing, which means do not touch Interfere in any way. 
    Be smart, be safe. Do not risk your safety, that of others or the affected wildlife and environment you encounter to use Oil Reporter. Observing means that you don’t touch or interfere with anything. We mean this. Oil reporter is for trained volunteers to record their observations but anyone can use it. Oil Reporter is not a response or operational entity - we are here to share information.  We do encourage as much observation participation as possible with Oil Reporter. We are telling you flat out that you should leave all response actions to people who are professionals and 
    %a{ :href => "http://www.deepwaterhorizonresponse.com/go/page/2931/46359/" }
      trained volunteers. 
    Because, you know it’s not cool to cause a bigger problem than what is already happening, right? Be a help, if you see wildlife that in distress or dead, call the authorities immediately at (866) 557-1401.
  %p
    %strong
      We need your location. 
    Sharing a picture without a location will not be helpful because we can’t find where to put it on a map. Your 
    %a{ :href => "http://en.wikipedia.org/wiki/Geocoded_photo" }
      geo-location
    is critical. Check to see if your geo-location is on for your mobile device before using the Oil Reporter apps and sharing with Twitter and Flickr. Remember to turn that off after you use the Oil Reporter app to maintain your privacy settings. We have to be frank, everything we do needs the ability to be mapped.  
  %p
    %strong
      Be honest. 
    Try your best to share exactly what you see. We know people make mistakes, but saying you don’t know by leaving the question blank is better than making something up. For those who think its fun to upload inappropriate information and spam, we ask you to nicely to don’t do it. Nobody thinks that is cool. If you should happen to see spam on this site, report it to
    %a{ :href => "mailto:spam@oilreporter.org" }
      spam@oilreporter.org.
  %p 
    %strong
      All data on Oil Reporter is unverified. 
    This means we aren’t checking out if what you post is true. We think most people are pretty honest and will post things that are helpful.
  %p  
    %strong
      Wondering where Oil Reporter data is going? 
    All data will be stored by the generous support and smart people of 
    %a{ :href => "http://citi.sdsu.edu" }
      San Diego State University’s Visualization Center.
  %p
    %strong
      Have a problem? 
    Hey, we know sometimes there might be a problem with our site. We are an all volunteer group and we are committed to making sure things work as much as we can. So just let us know if you see that something isn’t working, be part of the solution by emailing us at
    %a{ :href => "mailto:info@oilreporter.org" }
      info@oilreporter.org.  

  %p
    %strong
      Thanks again for reading. 
    We look forward to your participation in this collaborative effort. It’s all about sharing what you see and allowing that information to be shared back out to world to provide greater situational awareness for all and encourage better decision making by authorities and response organizations.