<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2010-02-11T01:11:37Z</date>
		<key>actualSize</key>
		<integer>8798</integer>
		<key>attributeModDate</key>
		<date>2010-02-11T01:11:36Z</date>
		<key>createDate</key>
		<date>2009-05-07T03:48:25Z</date>
		<key>creationDate</key>
		<date>2010-04-13T03:29:01Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>3E471F86-CB1C-40C0-B3E3-FB04DC9F2052</string>
		<key>lastModifiedDate</key>
		<date>2010-02-04T03:34:46Z</date>
		<key>originalPath</key>
		<string>/Users/jnelson/code/nonprofit/tradui/app/views/home/index.html.haml</string>
		<key>originalSize</key>
		<integer>8798</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>954016B4-A3A0-4FB7-AE23-86DD635F4F95</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>20</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
