#intro_blurb
  .inner
    #intro_blurb_title
      %span To the Gulf of Mexico with Love
    #blurb
      An Open Source Clean Up
/ end intro
        
.clearboth

#breadcrumbs
  .inner
    %p.breadcrumb
      = render_crumbs :seperator => '<span class="breadarrow">/</span>'

#body_block
  .inner
    #primary_full
      .content
        .entry
          %h1 Architecture
          .one_fourth
            %h6 Report
            %p
              %span.dropcap1
                1
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis euismod rhoncus gravida. Mauris at tellus lacus, non accumsan arcu. Ut vitae lectus sed nunc sodales posuere ut id justo. Fusce vitae lorem nec ante rhoncus mollis sit amet vel ipsum.
            %img{ :src => "/images/front_report.png", :style => "margin-top:-10px;" }
                
          .one_fourth
            %h6 Local
            %p
              %span.dropcap1
                2
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis euismod rhoncus gravida. Mauris at tellus lacus, non accumsan arcu. Ut vitae lectus sed nunc sodales posuere ut id justo. Fusce vitae lorem nec ante rhoncus mollis sit amet vel ipsum.
            %img{ :src => "/images/front_localization.png", :style => "margin-top:-10px;" }
          .one_fourth
            %h6 Data
            %p
              %span.dropcap1
                3
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis euismod rhoncus gravida. Mauris at tellus lacus, non accumsan arcu. Ut vitae lectus sed nunc sodales posuere ut id justo. Fusce vitae lorem nec ante rhoncus mollis sit amet vel ipsum.
            %img{ :src => "/images/front_data.png", :style => "margin-top:-10px;" }
          .one_fourth.last
            %h6 Tools
            %p
              %span.dropcap1
                4
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis euismod rhoncus gravida. Mauris at tellus lacus, non accumsan arcu. Ut vitae lectus sed nunc sodales posuere ut id justo. Fusce vitae lorem nec ante rhoncus mollis sit amet vel ipsum.
            %img{ :src => "/images/front_tools.png", :style => "margin-top:-10px;" }
          
          .clearboth
          
          .divider.top
            %a{ :href => "#" }
              Top

#call_to_action
  .inner
    #blurb
      Download the iPhone or Android app for Oil Reporter.
      #call_to_action_button1
        %a{ :href => "#" }

#body_block
  .inner
    #primary_full
      .content
        .entry
          
          .one_half
            %h3 Intridea
            %h6 Building better applications.
            %p
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis euismod rhoncus gravida. Mauris at tellus lacus, non accumsan arcu. Ut vitae lectus sed nunc sodales posuere ut id justo. Fusce vitae lorem nec ante rhoncus mollis sit amet vel ipsum. 
          
          .one_half.last
            %h3 Crisis Commons
            %h6 some tagline here.
            %p
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis euismod rhoncus gravida. Mauris at tellus lacus, non accumsan arcu. Ut vitae lectus sed nunc sodales posuere ut id justo. Fusce vitae lorem nec ante rhoncus mollis sit amet vel ipsum. 
          
          .one_half
            %h3 Appcelerator
            %h6 Built with Titanium.
            %p
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis euismod rhoncus gravida. Mauris at tellus lacus, non accumsan arcu. Ut vitae lectus sed nunc sodales posuere ut id justo. Fusce vitae lorem nec ante rhoncus mollis sit amet vel ipsum. 
          
          .one_half.last
            %h3 Github
            %h6 Social Coding.
            %p
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis euismod rhoncus gravida. Mauris at tellus lacus, non accumsan arcu. Ut vitae lectus sed nunc sodales posuere ut id justo. Fusce vitae lorem nec ante rhoncus mollis sit amet vel ipsum. 
          
          .clearboth
          
          
          .divider.top
            %a{ :href => "#" }
              Top
        
        / end entry
      / end content
    / end primary_full
    
    .clearboth
    
  / end inner
/ end body_block