- content_for :head do
  = set_meta_tags :title => 'News'

= twitter
  
#intro_blurb
  .inner
    #intro_blurb_title
      %span News
    #blurb
      #twitter_data
        %p.tweet
          %em retrieving tweets...
      / end tweets
/ end intro

.clearboth

#breadcrumbs
  .inner
    %p.breadcrumb
      = render_crumbs :seperator => '<span class="breadarrow">/</span>'


#body_block
  .inner
    #primary_full
      .content
        .entry
          %h3 Articles
          .one_fourth
            %a{ :href => "http://www.cnn.com/video/#/video/tech/2010/05/29/nr.armstrong.oil.spill.tech.cnn", :title => "Tech expert Mario Armstrong explains how new technology can enable Gulf Coast residents to become mobile oil reporters.", "gt-evt" => "click", "gt-cat" => "news", "gt-lbl" => "cnn#label" }
              %img{ :src => "/images/pr/cnn_small.png" }
            %p
              Tech expert 
              %a{ :href => "http://twitter.com/marioarmstrong", "gt-evt" => "click", "gt-cat" => "twitter", "gt-lbl" => "marioarmstrong#label" }
                Mario Armstrong
              explains how new technology can enable Gulf Coast residents to become mobile oil reporters with 
              %a{ :href => "/tools" }
                Oil Reporter.
          .one_fourth
            %a{ :href => "http://www.npr.org/blogs/alltechconsidered/2010/05/26/127135431/oil-spill-iphone-android-app", :title => "Want To Help Report The Oil Spill? There's An App For That", "gt-evt" => "click", "gt-cat" => "news", "gt-lbl" => "npr#label" }
              %img{ :src => "/images/pr/npr_small.png" }
            %p
              Want To Help Report The Oil Spill? There's An App For That - NPR's 
              %a{ :href => "http://twitter.com/acarvin", "gt-evt" => "click", "gt-cat" => "twitter", "gt-lbl" => "andycarvin#label" }
                Andy Carvin 
              reports.
          .one_fourth
            %a{ :href => "http://radar.oreilly.com/2010/05/crisis-commons-releases-open-s.html", :title => "Crisis Commons releases open source oil spill reporting", "gt-evt" => "click", "gt-cat" => "news", "gt-lbl" => "oreilly#label" }
              %img{ :src => "/images/pr/oreilly_small.png" }
            %p
              Crisis Commons releases open source oil spill reporting - O'Reilly's 
              %a{ :href => "https://twitter.com/digiphile", "gt-evt" => "click", "gt-cat" => "twitter", "gt-lbl" => "alexhowards#label" }
                Alex Howards
              reports.
          .one_fourth.last
            %a{ :href => "http://www.cbsnews.com/8301-504464_162-20006197-504464.html?tag=contentMain;contentBody", :title => "Online Resources to Drill into the BP Oil Disaster", "gt-evt" => "click", "gt-cat" => "news", "gt-lbl" => "cbsnews#label" }
              %img{ :src => "/images/pr/cbs_news_small.png" }
            %p
              Online Resources to Drill into the BP Oil Disaster - CBS News 
              %a{ :href => "http://twitter.com/shiralazar", "gt-evt" => "click", "gt-cat" => "twitter", "gt-lbl" => "shiralazar#label" }
                Shira Lazar
              reports.
          .clearboth
          .divider.top
            %a{ :href => "#" }
              Top
          %h3 Videos
          .one_half
            :erb
              <object width="416" height="374" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" id="ep"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="wmode" value="transparent" /><param name="movie" value="http://i.cdn.turner.com/cnn/.element/apps/cvp/3.0/swf/cnn_416x234_embed.swf?context=embed&videoId=tech/2010/05/29/nr.armstrong.oil.spill.tech.cnn" /><param name="bgcolor" value="#000000" /><embed src="http://i.cdn.turner.com/cnn/.element/apps/cvp/3.0/swf/cnn_416x234_embed.swf?context=embed&videoId=tech/2010/05/29/nr.armstrong.oil.spill.tech.cnn" type="application/x-shockwave-flash" bgcolor="#000000" allowfullscreen="true" allowscriptaccess="always" width="416" wmode="transparent" height="374"></embed></object>
