- content_for :head do
  = set_meta_tags :title => 'Tools'
  
#intro_blurb
  .inner
    #intro_blurb_title
      %span Tools
    #blurb
      Here's what has been built with Oil Reporter so far
/ end intro

.clearboth

#breadcrumbs
  .inner
    %p.breadcrumb
      = render_crumbs :seperator => '<span class="breadarrow">/</span>'

#body_block
  .inner
    #primary_full
      .content
        .one_third
          .image_loader
            .reports_img_holder
              .loading_gallery
              / iPhone Oil Reporter
              %a.load_reports_img{ :rel => "lightbox[tools]", :href => "/images/tools/iphone_oil_reporter_large.png", "gt-evt" => "click", "gt-cat" => "tools", "gt-lbl" => "Oil Reporter iPhone Photo (Large)" }
                %span.rm_img.noscript
                  %img{ :src => "/images/tools/iphone_oil_reporter_small.png" }
                  %span.roll_over.rollover
            %h3.reports iPhone Reporter
            %span
              %a.button_link{ :href => "http://itunes.apple.com/app/oil-reporter/id372961637?mt=8", "gt-evt" => "mouseenter,mouseleave", "gt-cat" => "tools", "gt-act" => "download_iphone_oilreporter_app#mouseenter,download_iphone_oilreporter_app#mouseleave"  }
                %span
                  Download Now
          .clearboth
        / end one_third
      
      .one_third
        .image_loader
          .reports_img_holder
            .loading_gallery
            / Android Oil Reporter
            %a.load_reports_img{ :rel => "lightbox[tools]", :href => "/images/tools/android_oil_reporter_large.png", "gt-evt" => "click", "gt-cat" => "tools", "gt-lbl" => "Oil Reporter Android Photo (Large)" }
              %span.rm_img.noscript
                %img{ :src => "/images/tools/android_oil_reporter_small.png" }
                %span.roll_over.rollover
          %h3.reports Android Reporter
          %span
            %a.button_link{ :href => "http://www.androidzoom.com/android_applications/news_and_weather/oil-reporter_gxif.html", :target => "_blank", "gt-evt" => "mouseenter,mouseleave", "gt-cat" => "tools", "gt-act" => "download_android_oilreporter_app#mouseenter,download_android_oilreporter_app#mouseleave" }
              %span
                Download Now
        .clearboth
      / end one_third
      
      .one_third.last
        .image_loader
          .reports_img_holder
            .loading_gallery
            / Oil Tracker
            %a.load_reports_img{ :rel => "lightbox[tools]", :href => "/images/tools/iphone_oil_tracker_large.png", "gt-evt" => "click", "gt-cat" => "tools", "gt-lbl" => "Oil Tracker iPhone Photo (Large)" }
              %span.rm_img.noscript
                %img{ :src => "/images/tools/iphone_oil_tracker_small.png" }
                %span.roll_over.rollover
          %h3.reports iPhone Tracker
          %span
            %a.button_link{ :href => "http://github.com/kwhinnery/OilTracker", :target => "_blank", "gt-evt" => "mouseenter,mouseleave", "gt-cat" => "tools", "gt-act" => "download_iphone_oiltracker#mouseenter,download_iphone_oiltracker#mouseleave" }
              %span
                Download Now
        .clearboth
      / end one_third
      
      .one_third.last
        .image_loader
          .reports_img_holder
            .loading_gallery
            / Oil Reporter Map
            %a.load_reports_img{ :rel => "lightbox[tools]", :href => "/images/tools/android_oil_reporter_map_large.png", "gt-evt" => "click", "gt-cat" => "tools", "gt-lbl" => "Oil Reporter Map Android Photo (Large)" }
              %span.rm_img.noscript
                %img{ :src => "/images/tools/android_oil_reporter_map_small.png" }
                %span.roll_over.rollover
          %h3.reports Oil Reporter Map
          %span
            %a.button_link{ :href => "http://www.androlib.com/android.application.com-soverby-oilreporter-jmnFi.aspx", :target => "_blank", "gt-evt" => "mouseenter,mouseleave", "gt-cat" => "tools", "gt-act" => "download_iphone_oiltracker#mouseenter,download_iphone_oiltracker#mouseleave" }
              %span
                Download Now
        .clearboth
      / end one_third