<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2010-02-09T03:48:12Z</date>
		<key>actualSize</key>
		<integer>1921</integer>
		<key>attributeModDate</key>
		<date>2010-01-21T15:12:10Z</date>
		<key>createDate</key>
		<date>2010-01-21T15:05:54Z</date>
		<key>creationDate</key>
		<date>2010-04-13T03:29:06Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>BA138E52-5F0E-44D0-8E88-3132CFB7E902</string>
		<key>lastModifiedDate</key>
		<date>2010-01-21T15:05:54Z</date>
		<key>originalPath</key>
		<string>/Users/jnelson/code/nonprofit/tradui/config/environment.rb</string>
		<key>originalSize</key>
		<integer>1921</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>CBD4B03C-134C-4A95-B1C6-8EA66AB7DAA1</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>20</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
