<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2010-01-30T02:14:33Z</date>
		<key>actualSize</key>
		<integer>279</integer>
		<key>attributeModDate</key>
		<date>2010-01-21T07:21:47Z</date>
		<key>createDate</key>
		<date>2009-05-07T03:27:26Z</date>
		<key>creationDate</key>
		<date>2010-04-13T03:29:06Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>D2B70BD6-65A9-45A3-BFDD-064B1DD08176</string>
		<key>lastModifiedDate</key>
		<date>2010-01-21T07:21:47Z</date>
		<key>originalPath</key>
		<string>/Users/jnelson/code/nonprofit/tradui/config/deploy.rb</string>
		<key>originalSize</key>
		<integer>279</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>02167FC6-4D0F-4EE7-9081-732B332A3FFA</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>20</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
