#
# Main configuration file for functionality of Oil Reporter app instance.
#

# Configuration shared between all environments:
defaults: &defaults
  # The domain from where Oil Reporter app is served
  app_domain: oilreporter.org

  # Set to true to use S3 storage instead of local filesystem storage.
  # Automatically true on Heroku.
  # See "config/amazon_s3.yml" for info about credentials.
  amazon_s3: false

  asset_max_file_size: 50 # in megabytes

  # Default timezone
  time_zone: UTC
  
  # Google Api Key for http://localhost:3000
  google_api_key: ABQIAAAAgtulYhIAj8uTCz3CP9LUkxRfPUmTrE-kGcSvX58SFCYQhb8lqxThXf53vEUDXIB5Aj7QLF6sCyL96Q
  
  # By default, outgoing email is enabled in production but not in development
  allow_outgoing_email: true
  
  # By default, incoming email is enabled in production but not in development
  allow_incoming_email: true

  # Incoming email settings
  incoming_email_settings:
    :type:           POP
    :address:        mail.oilreporter.org
    :user_name:      USER
    :password:       PASSWORD

  organization_signup_recipients:
    - test@oilreporter.local
  
  default_blog: oilreporter
  twitter: oilreporter

development:
  <<: *defaults
  app_domain: oilreporter.local
  allow_outgoing_email: false
  allow_incoming_email: false

production:
  <<: *defaults
  google_api_key: ABQIAAAAv2kP9nkf-2Hm8WO7uocS5hQq1UCU9SBkmSXBlazPa3yrPjWakBTJvhnKvmEEeW71_sMHVod_VFD1rg

  organization_signup_recipients:
    - oilreporter@intridea.com

test: &test
  <<: *defaults
  app_domain: 127.0.0.1
  allow_outgoing_email: false
  allow_incoming_email: false
  asset_max_file_size: 1
  amazon_s3: false

cucumber:
  <<: *test