<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2010-02-04T03:30:31Z</date>
		<key>actualSize</key>
		<integer>28</integer>
		<key>attributeModDate</key>
		<date>2010-01-24T15:00:32Z</date>
		<key>createDate</key>
		<date>2009-05-09T19:39:15Z</date>
		<key>creationDate</key>
		<date>2010-04-13T03:29:01Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>4D7285DF-0F91-4C15-82E9-80DF2C15F114</string>
		<key>lastModifiedDate</key>
		<date>2009-05-09T23:51:54Z</date>
		<key>originalPath</key>
		<string>/Users/jnelson/code/nonprofit/tradui/app/helpers/investment_helper.rb</string>
		<key>originalSize</key>
		<integer>28</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>76220871-B51C-4B9B-AC26-AB3636B22A5D</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>20</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
