<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2010-02-04T03:26:54Z</date>
		<key>actualSize</key>
		<integer>2895</integer>
		<key>attributeModDate</key>
		<date>2010-01-22T02:20:37Z</date>
		<key>createDate</key>
		<date>2010-01-21T04:08:49Z</date>
		<key>creationDate</key>
		<date>2010-04-13T03:29:06Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>4DC46D0D-BCCD-46E3-A15A-C0F1B2FC67B6</string>
		<key>lastModifiedDate</key>
		<date>2010-01-21T04:08:49Z</date>
		<key>originalPath</key>
		<string>/Users/jnelson/code/nonprofit/tradui/public/img/intridea_small.png</string>
		<key>originalSize</key>
		<integer>2895</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>943868237</integer>
				<key>fileType</key>
				<integer>1347307366</integer>
				<key>id</key>
				<string>EC4DC7F7-0B35-4F0B-8976-96DBFE3A62D2</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>20</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
