<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2010-01-30T02:14:34Z</date>
		<key>actualSize</key>
		<integer>15364</integer>
		<key>attributeModDate</key>
		<date>2010-01-22T03:03:03Z</date>
		<key>createDate</key>
		<date>2009-05-07T04:43:17Z</date>
		<key>creationDate</key>
		<date>2010-04-13T03:29:06Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>0FED3847-92A2-4F2E-A962-C2E3DFBB0CCF</string>
		<key>lastModifiedDate</key>
		<date>2010-01-22T03:03:03Z</date>
		<key>originalPath</key>
		<string>/Users/jnelson/code/nonprofit/tradui/public/img/.DS_Store</string>
		<key>originalSize</key>
		<integer>15364</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>1A4D54CB-AA8F-4444-87C5-107BF79072FF</string>
				<key>macAttributes</key>
				<integer>2</integer>
				<key>ownerGID</key>
				<integer>20</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
