<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2010-02-04T03:26:55Z</date>
		<key>actualSize</key>
		<integer>6704</integer>
		<key>attributeModDate</key>
		<date>2010-01-21T04:17:29Z</date>
		<key>createDate</key>
		<date>2010-01-21T04:17:29Z</date>
		<key>creationDate</key>
		<date>2010-04-13T03:29:06Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>BD1B723D-D970-4187-BA2A-03D9EE467DC9</string>
		<key>lastModifiedDate</key>
		<date>2010-01-21T04:17:29Z</date>
		<key>originalPath</key>
		<string>/Users/jnelson/code/nonprofit/tradui/public/img/crisiscommons_small.png</string>
		<key>originalSize</key>
		<integer>6704</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>943868237</integer>
				<key>fileType</key>
				<integer>1347307366</integer>
				<key>id</key>
				<string>94594470-85DF-4B6A-861E-5D82B48BB802</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>20</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
