<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2010-02-04T03:26:55Z</date>
		<key>actualSize</key>
		<integer>2355</integer>
		<key>attributeModDate</key>
		<date>2010-01-21T06:01:34Z</date>
		<key>createDate</key>
		<date>2010-01-21T06:01:34Z</date>
		<key>creationDate</key>
		<date>2010-04-13T03:29:09Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>E18C251D-7A03-4FE7-988C-BEF0B82B6ED7</string>
		<key>lastModifiedDate</key>
		<date>2010-01-21T06:01:34Z</date>
		<key>originalPath</key>
		<string>/Users/jnelson/code/nonprofit/tradui/public/img/npr_small.png</string>
		<key>originalSize</key>
		<integer>2355</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>943868237</integer>
				<key>fileType</key>
				<integer>1347307366</integer>
				<key>id</key>
				<string>6DFA48F8-4458-4D5A-B5C5-614B4F7B1D2D</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>20</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
