<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2010-02-04T03:26:53Z</date>
		<key>actualSize</key>
		<integer>250391</integer>
		<key>attributeModDate</key>
		<date>2010-01-21T03:04:06Z</date>
		<key>createDate</key>
		<date>2010-01-21T03:04:06Z</date>
		<key>creationDate</key>
		<date>2010-04-13T03:29:13Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>46C983F8-67B5-4FE0-A1BD-E8D0E763A146</string>
		<key>lastModifiedDate</key>
		<date>2010-01-21T03:04:06Z</date>
		<key>originalPath</key>
		<string>/Users/jnelson/code/nonprofit/tradui/public/stylesheets/theme.tradui/center.bg.jpg</string>
		<key>originalSize</key>
		<integer>250391</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>943868237</integer>
				<key>fileType</key>
				<integer>1246774599</integer>
				<key>id</key>
				<string>E062BA30-6ADD-472E-B604-7AB865C4D8D5</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>20</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
