<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2010-02-04T03:26:52Z</date>
		<key>actualSize</key>
		<integer>1836</integer>
		<key>attributeModDate</key>
		<date>2010-01-22T02:19:05Z</date>
		<key>createDate</key>
		<date>2009-09-11T00:02:24Z</date>
		<key>creationDate</key>
		<date>2010-04-13T03:29:13Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>1A20D174-30FB-4A7A-BE1D-B61F4B8D11E6</string>
		<key>lastModifiedDate</key>
		<date>2009-09-11T00:02:24Z</date>
		<key>originalPath</key>
		<string>/Users/jnelson/code/nonprofit/tradui/public/stylesheets/theme.tradui/repeat.bg.jpg</string>
		<key>originalSize</key>
		<integer>1836</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32275</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>6530D7B9-CCA8-42F5-9114-FB9592D977D4</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>20</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
