<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2010-04-11T23:58:54Z</date>
		<key>actualSize</key>
		<integer>314</integer>
		<key>attributeModDate</key>
		<date>2010-02-11T01:11:37Z</date>
		<key>createDate</key>
		<date>2009-05-07T03:27:26Z</date>
		<key>creationDate</key>
		<date>2010-04-13T03:29:01Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>DCE2894E-E7EE-450A-A130-8BDA04E43AF4</string>
		<key>lastModifiedDate</key>
		<date>2010-01-21T17:19:05Z</date>
		<key>originalPath</key>
		<string>/Users/jnelson/code/nonprofit/tradui/app/views/layouts/application.html.haml</string>
		<key>originalSize</key>
		<integer>314</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>61A9C9E5-DFEE-4B0A-A3E9-ADB1D0261E6F</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>20</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
