!!!
%html
  = render :partial => 'layouts/head'

  / Start Flash Message
  = render :partial => 'layouts/flashes'
  / End Flash Message
  
  = yield
  
  = render :partial => 'shared/google_analytics'