!!!
%html
  = render :partial => 'layouts/head'

  %body{ :id => "index" }
    / Start Flash Message
    = render :partial => 'layouts/flashes'
    / End Flash Message
    
    / Start Wrapper
    #container
    
    / Start Page
    = yield
    / End Page
    
    = render :partial => 'shared/google_analytics'

